<!DOCTYPE html>
<html>
    <head>
        <title>HarmoniMix</title>
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    
    <body data-new-gr-c-s-check-loaded="9.59.0" data-gr-ext-installed>
        <section style="background: url('https://unsplash.com/photos/ZhQCZjr9fHo/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjU4NDUzODY0&force=true')" class="page-holder position-relative d-flex justify-content-between flex-column">
            <div class="overlay"></div>
            <!-- <div class="container position-relative pt-3 pb-5">
                <ul class="list-inline text-center text-lg-right"> --> <!-- Will Add Header NavBar Here-->
                    <!-- <li class="list-inline-item"></li> social media goes here --> 
                <!-- </ul>
            </div> -->
            <div class="container text-center text-white position-relative pt-lg-5 my-5">
                <h1 class="font-family text-shadow mb-5">
                    "Harmonic Song Mixing Database and Music Finder For DJ Mix's, Mashup's, & Remixes"
                </h1>
            </div> 
            <div class="containr text-white position-relative text-white py-5">
                <p class="h2 font-family-base font-weight-light text-shadow">Enter text here</p>
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <form class="d-flex d-inline-block w-150 flex-column flex-lg-row justify-content-center" action="songlist/" method="POST" pattern=".*S/.*">
                            {% csrf_token %}
                            <input class="form-control mb2 mr-sm-2 transparent-bg" id="FormInputSong" required="required" name="song" placeholder="Search for songs by title, artist, or by title & artist" type="text">
                                <div pseudo="placeholder">Search for songs by title, artist, or by title & artist</div>
                                <div contenteditable="plaintext-only"></div>
                            </input>
                            <button type="submit" class="btn btn-primary letter-spacing-3 mb-2">
                                <span>Search</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="py-4 position-relative w-100 text-small">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-11 text-center text-white text-sm-center">
                            <p>©2022 HarmoniMix</p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
        <script src="js/demo.9e166629.js"> </script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </body>
</html>