<div class="flex-container">
    <div class="container">
        <h1>TuneBatClone</h1>
        <p class="lead"><strong></strong></p>

        <form action='category/', method="POST" >  <!-- action has to be sent somewhere!-->
            {% csrf_token %}
            <!-- {{form}} -->
            <input type="text" required = "required" name="song" class="form" placeholder="Search a Song Title by an Artist or Song Title Artist">  <!-- need search info containing valid searches-->
            <button type="submit", name="save">Search</button>
        </form>
    </div>
</div>