.DS_Store
.vscode
*__pycache__
settings.py
authorization.py
*.pyc
*__init__.py
.cache
Camelot-Wheel-Mixed-In-Key-Harmonic-Mixing.png
/Users/jonathanpotash/Desktop/github_code/coding/JudPo/Backend/djangoApp/mysite/mysite/__pycache__