div.dataTables_wrapper div.dataTables_length select,div.dataTables_wrapper div.dataTables_length input{
    width:auto
}
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label{
    margin-top:1.2rem;
    margin-right:1rem
}
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span,div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown{
    margin-top:1rem
}
div.dataTables_wrapper div.dataTables_length label,div.dataTables_wrapper div.dataTables_filter label{
    padding-top:.5rem;
    padding-bottom:.5rem;
    font-weight:400;
    text-align:left
}
div.dataTables_wrapper div.dataTables_filter{
    text-align:right
}
div.dataTables_wrapper div.dataTables_filter select,div.dataTables_wrapper div.dataTables_filter input{
    width:auto
}
div.dataTables_wrapper div.dataTables_filter input{
    display:inline-block;
    margin-left:.5rem
}
div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{
    padding-top:1rem;
    padding-bottom:1rem;
    font-weight:400
}
div.dataTables_wrapper div.dataTables_paginate{
    margin:0;
    text-align:right
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    -ms-flex-pack:end;
    justify-content:flex-end;
    -webkit-box-pack:end
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link{
    background-color:#7e7e7e
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus{
    background-color:#7e7e7e
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus{
    -webkit-box-shadow:none;
    box-shadow:none
}
@media (max-width: 767px){
    div.dataTables_wrapper div .dataTables_length,div.dataTables_wrapper div .dataTables_filter,div.dataTables_wrapper div .dataTables_info,div.dataTables_wrapper div .dataTables_paginate ul.pagination{
        -ms-flex-pack:center;
        justify-content:center;
        text-align:center;
        -webkit-box-pack:center
    }
}
.bs-select select{
    display:inline-block !important
}
table.dataTable thead{
    cursor:pointer
}
table.dataTable thead th{
    padding-left:1.5rem;
    font-weight:600
}
table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{
    padding-right:30px
}
table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{
    outline:none
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{
    position:relative;
    cursor:pointer
}
table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{
    position:absolute;
    bottom:1rem;
    display:block;
    opacity:0
}
table.dataTable thead .sorting:hover::before{
    opacity:0.6
}
table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:before{
    left:0.4rem;
    font-family:"Font Awesome\ 5 Free", sans-serif;
    font-size:1rem;
    font-weight:900;
    content:"\f062"
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{
    left:0.4rem;
    font-family:"Font Awesome\ 5 Free", sans-serif;
    font-size:1rem;
    font-weight:900;
    content:"\f063"
}
table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{
    opacity:1
}
table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{
    opacity:0
}
.dataTables_scrollHead .dataTables_scrollHeadInner,.dataTables_scrollHead .dataTables_scrollHeadInner table{
    padding-right:0 !important;
    margin-right:0 !important;
    width:100% !important
}
.dataTables_scrollHead .dataTables_scrollHeadInner table{
    margin-bottom:0 !important
}
.dataTables_scrollFoot .dataTables_scrollFootInner,.dataTables_scrollFoot .dataTables_scrollFootInner table{
    padding-right:0 !important;
    margin-right:0 !important;
    width:100% !important
}
table.dataTable tbody>tr.selected,table.dataTable tbody>tr>.selected{
    background-color:#f5f5f5
}
table.dataTable tbody>tr:not(.selected):hover{
    background-color:rgba(245,245,245,0.4)
}
table.dataTable.stripe tbody>tr.odd.selected,table.dataTable.stripe tbody>tr.odd>.selected,table.dataTable.display tbody>tr.odd.selected,table.dataTable.display tbody>tr.odd>.selected{
    background-color:#acbad4
}
table.dataTable.hover tbody>tr.selected:hover,table.dataTable.hover tbody>tr>.selected:hover,table.dataTable.display tbody>tr.selected:hover,table.dataTable.display tbody>tr>.selected:hover{
    background-color:#aab7d1
}
table.dataTable.order-column tbody>tr.selected>.sorting_1,table.dataTable.order-column tbody>tr.selected>.sorting_2,table.dataTable.order-column tbody>tr.selected>.sorting_3,table.dataTable.display tbody>tr.selected>.sorting_1,table.dataTable.display tbody>tr.selected>.sorting_2,table.dataTable.display tbody>tr.selected>.sorting_3{
    background-color:#acbad5
}
table.dataTable.order-column tbody>tr>.selected,table.dataTable.display tbody>tr>.selected{
    background-color:#acbad5
}
table.dataTable.display tbody>tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1{
    background-color:#a6b4cd
}
table.dataTable.display tbody>tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_2{
    background-color:#a8b5cf
}
table.dataTable.display tbody>tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_3{
    background-color:#a9b7d1
}
table.dataTable.display tbody>tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1{
    background-color:#acbad5
}
table.dataTable.display tbody>tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_2{
    background-color:#aebcd6
}
table.dataTable.display tbody>tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_3{
    background-color:#afbdd8
}
table.dataTable.display tbody>tr.odd>.selected,table.dataTable.order-column.stripe tbody>tr.odd>.selected{
    background-color:#a6b4cd
}
table.dataTable.display tbody>tr.even>.selected,table.dataTable.order-column.stripe tbody>tr.even>.selected{
    background-color:#acbad5
}
table.dataTable.display tbody>tr.selected:hover>.sorting_1,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_1{
    background-color:#a2aec7
}
table.dataTable.display tbody>tr.selected:hover>.sorting_2,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_2{
    background-color:#a3b0c9
}
table.dataTable.display tbody>tr.selected:hover>.sorting_3,table.dataTable.order-column.hover tbody>tr.selected:hover>.sorting_3{
    background-color:#a5b2cb
}
table.dataTable.display tbody>tr:hover>.selected,table.dataTable.display tbody>tr>.selected:hover,table.dataTable.order-column.hover tbody>tr:hover>.selected,table.dataTable.order-column.hover tbody>tr>.selected:hover{
    background-color:#a2aec7
}
table.dataTable tbody td.select-checkbox,table.dataTable tbody td.select-checkbox-all,table.dataTable tbody th.select-checkbox,table.dataTable tbody th.select-checkbox-all,table.dataTable thead td.select-checkbox,table.dataTable thead td.select-checkbox-all,table.dataTable thead th.select-checkbox,table.dataTable thead th.select-checkbox-all{
    position:relative
}
table.dataTable tbody td.select-checkbox:before,table.dataTable tbody td.select-checkbox:after,table.dataTable tbody td.select-checkbox-all:before,table.dataTable tbody td.select-checkbox-all:after,table.dataTable tbody th.select-checkbox:before,table.dataTable tbody th.select-checkbox:after,table.dataTable tbody th.select-checkbox-all:before,table.dataTable tbody th.select-checkbox-all:after,table.dataTable thead td.select-checkbox:before,table.dataTable thead td.select-checkbox:after,table.dataTable thead td.select-checkbox-all:before,table.dataTable thead td.select-checkbox-all:after,table.dataTable thead th.select-checkbox:before,table.dataTable thead th.select-checkbox:after,table.dataTable thead th.select-checkbox-all:before,table.dataTable thead th.select-checkbox-all:after{
    position:absolute;
    top:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    left:50%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    width:20px;
    height:20px
}
table.dataTable tbody td.select-checkbox:hover,table.dataTable tbody td.select-checkbox-all:hover,table.dataTable tbody th.select-checkbox:hover,table.dataTable tbody th.select-checkbox-all:hover,table.dataTable thead td.select-checkbox:hover,table.dataTable thead td.select-checkbox-all:hover,table.dataTable thead th.select-checkbox:hover,table.dataTable thead th.select-checkbox-all:hover{
    cursor:pointer
}
table.dataTable tbody td.select-checkbox:before,table.dataTable tbody th.select-checkbox.select-checkbox-all:before,table.dataTable thead td.select-checkbox:before,table.dataTable thead th.select-checkbox.select-checkbox-all:before{
    content:" ";
    border:2px solid #5a5a5a;
    border-radius:3px
}
table.dataTable tr.selected td.select-checkbox:after,table.dataTable tr.selected th.select-checkbox:after{
    margin-top:0;
    text-align:center;
    font-family:"Font Awesome\ 5 Free", sans-serif;
    font-size:0.9rem;
    font-weight:600;
    content:"\f00c";
    background-color:#a6c;
    -webkit-box-shadow:0 0 1em #5a5a5a;
    box-shadow:0 0 1em #5a5a5a;
    color:#fff
}
div.dataTables_wrapper span.select-info,div.dataTables_wrapper span.select-item{
    margin-left:.5em
}
@media screen and (max-width: 640px){
    div.dataTables_wrapper span.select-info,div.dataTables_wrapper span.select-item{
        display:block;
        margin-left:0
    }
}

#dt-horizontal-scroll_wrapper {
    max-width: 600px;
    margin: 0 auto;
}
#dt-horizontal-scroll th, td {
    white-space: nowrap;
}